<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
  <div id="app">
    <input type="text" v-model="newNameTask">
    <button @click="createTask">Crear nueva tarea</button>    
        <ul>
            <task-item
            v-for="(task, index) in taskList"
            :key="index"
            :task="task"
            @remove="removeTask">
            </task-item>
           <!--  <li v-for="(task, index) in taskList" class="task-list">
                <h6>Task number {{ index + 1 }}</h6>
                <p :class="{
                    'task-done': task.done
                }">{{ task.name }}</p>
                <input type="checkbox" name="checkbox" v-model="task.done">
                <label for="checkbox">Checked</label>
                <div v-if="task.done">This task is done</div>
                <div v-else>this task is not done</div>
            </li> -->
        </ul>
    </div>
<script src="./script.js"></script>

</body>
</html>