html {
    background-color: #F0FDF8;
    font-family: Georgia, "Times New Roman", Times, serif;
    width: 980px;
    border: 3px solid black;
    border-radius: 5px;
    text-align: justify;
}
header {
    background-color: #DED8D8;
    padding: 0 20px 20px 20px;
    font-size: 20px;
}
#img_metodopago {
    float: left;
}
.formulario,
.quienessomos {
    background-color: #E6F9F2;
    padding: 0 20px 20px 20px;
    font-size: 16px;
}
.mision,
.vision {
    background-color: #E71206;
    color: white;
}
footer{
    text-align: center;
}
