<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ejercicio del pokedex aplicado en otro site</title>
  <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <section class="contenedor_logogalac">
      <img src="../media/logo_aliado.png" alt="" class="imagenfrontal_galac">
      <img src="../media/logo_grande.png" alt="" class="imagentrasera_galac">
    </section>
    <section class="galac_listadeprogramas">
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/admin.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">NSAWL</p>
          <h4 class="galac_nombredeproducto">
            Administrativo
          </h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/axi.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">NºNAXIP</p>
          <h4 class="galac_nombredeproducto">
            Ajuste por Inflación
          </h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
            <div class="galac_tipo galac_tipo_personas">Personal</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/cont1.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">NCONL</p>
          <h4 class="galac_nombredeproducto">
            Contabilidad General
          </h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
            <div class="galac_tipo galac_tipo_personas">Personal</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/cont2.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">NCONTE</p>
          <h4 class="galac_nombredeproducto">Conta Estudiantes</h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_estudiantes">Estudiantes</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/der.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">NDERL</p>
          <h4 class="galac_nombredeproducto">Declaraciones</h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
            <div class="galac_tipo galac_tipo_personas">Personal</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/iva.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">NIVAL.I</p>
          <h4 class="galac_nombredeproducto">Iva y Rentas</h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
            <div class="galac_tipo galac_tipo_personas">Personal</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/mibackup.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">MBACKUP</p>
          <h4 class="galac_nombredeproducto">Mi Backup</h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
            <div class="galac_tipo galac_tipo_personas">Personal</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/nom.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">NNOMP</p>
          <h4 class="galac_nombredeproducto">Nomina Profesional</h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/nom2.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">NNOME</p>
          <h4 class="galac_nombredeproducto">Nomina Estudiantes</h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_estudiantes">Estudiantes</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/ret.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ven.png" alt="" class="galac_bandera-ven">
          <p class="galac_numerodeproducto">NRETL</p>
          <h4 class="galac_nombredeproducto">Retenciones</h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
            <div class="galac_tipo galac_tipo_personas">Personal</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/admin_ecu.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ecu.png" alt="" class="galac_bandera-ecu">
          <p class="galac_numerodeproducto">NSAWE</p>
          <h4 class="galac_nombredeproducto">Administrativo</h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
            <div class="galac_tipo galac_tipo_personas">Personal</div>
          </div>
        </div>
      </div>
      <div class="galac_icono-sistema">
        <div class="contenedorimagen_sistema">
          <img src="../media/iva_ecu.png" alt="" class="galac_iconoproducto">
        </div>
        <div class="galac_descripcionproducto">
        <img src="../media/bandera_ecu.png" alt="" class="galac_bandera-ecu">
          <p class="galac_numerodeproducto">NIVAE</p>
          <h4 class="galac_nombredeproducto">Iva y Rentas</h4>
          <div class="galac_tipodeproducto">
            <div class="galac_tipo galac_tipo_empresas">Empresarial</div>
            <div class="galac_tipo galac_tipo_personas">Personal</div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
        <hr />
        <p>Copyright Antonio Zapata 2019</p>
        <p>
            <a href="http://jigsaw.w3.org/css-validator/check/referer">
            <img style="border:0;width:88px;height:31px"
                src="http://jigsaw.w3.org/css-validator/images/vcss-blue"
                alt="¡CSS Válido!" />
            </a>
        </p>              
    </footer>
</body>
</html>