<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curriculum Antonio Zapata</title>
</head>
<body>
    <header>
        <h1>Curriculum Vitae de Antonio José Zapata Diaz</h1>
        <p>Calle Guabairo, 5. 28047 Madrid</p>
        <a href="mailto:antoniojosezapata@gmail.com">antoniojosezapata@gmail.com</a>
    </header>
    <main>
        <section>
            <h2>Experiencia Laboral</h2>
            <ol>
                    <li><strong>2017-2018: Supervisor de Operaciones. SysOrdaz, C.A. Gálac Software, Puerto Ordaz Venezuela.</strong><br>Funciones: Supervisar actividades de los departamentos de Ventas, Consultoria y Soporte Técnico</li>
                    <li><strong>2014-2017: Consultor de Sistemas Gálac Software. SysOrdaz, C.A. Gálac Software, Puerto Ordaz Venezuela.</strong><br>Funciones: Analisis del funcionamiento interno de la compañia de cliente para plantear soluciones de sistemás Gálac Software.</li>
                    <li><strong>2012-2014: Instructor de Sistemas. SysOrdaz, C.A. Gálac Software, Puerto Ordaz Venezuela.</strong><br>Funciones: Adiestramiento y cursos sobre la operación de los Sistemas Administrativos, contables, tributarios y de RRHH de Gálac Software.</li>
                    <li><strong>2008-2012: Vendedor. SysOrdaz, C.A. Gálac Software, Puerto Ordaz Venezuela.</strong><br>Funciones: Atención al cliente, seguimiento de cuentas por cobrar y cobranzas.</li>               
                    <li><strong>2006-2008: Help Desk. SysOrdaz, C.A. Gálac Software, Puerto Ordaz Venezuela.</strong><br>Funciones: Resolución de problemas técnidos de los usuarios a traves de soporte remoto, via email y télefonico.</li>
                    <li><strong>2005-2006: Técnico Informatico. SysOrdaz, C.A. Gálac Software, Puerto Ordaz Venezuela.</strong><br>Funciones: Mantenimiento de la estructura informatica de los clientes de forma presencial.</li>
                    <li><strong>2004-2005: Télefonista. SysOrdaz, C.A. Gálac Software, Puerto Ordaz Venezuela.</strong><br>Funciones: Gestión y seguimiento de incidencias de los usuarios del sistema a traves de llamadas teléfonicas. </li>
                    <li><strong>2003-2004: Télefonista. SysOrdaz, C.A. Gálac Software, Puerto Ordaz Venezuela.</strong><br>Funciones: Gestión y seguimiento de incidencias de los usuarios del sistema.</li>
                    <li><strong>2001-2003: Auxiliar contable. Oficina Contable Lcdo. Dario Zapata.</strong><br>Funciones: Asientos contables, calculos de IVA, conciliaciones bancarias.</li>
                    <li><strong>2000-2001: Mensajero. Oficina Contable Lcdo. Dario Zapata.</strong><br>Funciones: Manejo de correspondencia. Paqueteria. Planillas de impuestos. Gestiones bancarias.</li>
            </ol>
        </section>
        <div>
            <span><a href="../index.html">Datos Generales</a></span>
            <span><a href="../bio/bio.html">Biografia</a></span>
            <span><a href="../educacion/educacion.html">Educación</a></span>
            <span><a href="./experiencia.html">Experiencia Laboral</a></span>
            <span><a href="../hobbies/hobbies.html">Hobbies</a></span>
        </div>
    </main>
<footer>
    <hr />
    <p>Copyright Antonio Zapata 2019</p>
</footer>
</body>
</html>