<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curriculum Antonio Zapata</title>
</head>
<body>
    <header>
        <h1>Curriculum Vitae de Antonio José Zapata Diaz</h1>
        <p>Calle Guabairo, 5. 28047 Madrid</p>
        <a href="mailto:antoniojosezapata@gmail.com">antoniojosezapata@gmail.com</a>
    </header>
    <main>
        <section>
            <h2>Biografia</h2>
            <ul>
                <li>Aliado de Negocios Gálac Software</li>
                <li>Tecnopata</li>                
                <li>Frase:<blockquote>El pesimista se queja del viento, el optimista espera que cambie, pero el realista acomoda las velas.</blockquote></li> 
            </ul>
            <div>
            <dl>
                <dt>Gálac Software</dt>
                <dd>
                    Es una empresa que participa en el mercado del Software Venezolano desde el año 1991, demostrando una 
                    exitosa experiencia, brindando soluciones oportunas a las necesidades de Contadores, Administradores, Pequeñas y Medianas
                    empresas; creando software financiero y tributario; manteniendo contacto permanente con los clientes, en un ambiente
                    de trabajo de interrelación y calidez, buscando crecimiento y bienestar de socios, empleados y asociados.
                </dd>
            </dl>
        </div>
        </section>
        <div>
            <span><a href="../index.html">Datos Generales</a></span>
            <span><a href="./bio.html">Biografia</a></span>
            <span><a href="../educacion/educacion.html">Educación</a></span>
            <span><a href="../experiencia_laboral/experiencia.html">Experiencia Laboral</a></span>
            <span><a href="../hobbies/hobbies.html">Hobbies</a></span>
        </div>
    </main>
<footer>
    <hr />
    <p>Copyright Antonio Zapata 2019</p>
</footer>
</body>
</html>