<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curriculum Antonio Zapata</title>
</head>
<body>
    <header>
        <h1>Curriculum Vitae de Antonio José Zapata Diaz</h1>
        <p>Calle Guabairo, 5. 28047 Madrid</p>
        <a href="mailto:antoniojosezapata@gmail.com">antoniojosezapata@gmail.com</a>
    </header>
    <main>
        <section>
            <h2>Hobbies</h2>
            <ul>
                <li>Lectura</li>
                <li>Airsoft</li>
                <li>Computación</li>
                <li>Video Juegos</li>
            </ul>
        </section>
        <div>
            <span><a href="../index.html">Datos Generales</a></span>
            <span><a href="../bio/bio.html">Biografia</a></span>
            <span><a href="../educacion/educacion.html">Educación</a></span>
            <span><a href="../experiencia_laboral/experiencia.html">Experiencia Laboral</a></span>
            <span><a href="./hobbies.html">Hobbies</a></span>
        </div>
    </main>
<footer>
    <hr />
    <p>Copyright Antonio Zapata 2019</p>
</footer>
</body>
</html>